{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <div class="card-footer">
                            <a type="button" href="{% url 'users:changed_password' %}" class="btn btn-primary">
                                Сгенерировать новый пароль? Новый пароль будет отправлен на Вашу почту
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}