{% extends 'main/base.html' %}

{% block content %}
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-3">
        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5"> Пользователь {{object.pk}} </h2>
                <p class="lead">Информация</p>
                <p class="text-center">Почта: {{object.email}} </p>
                <p class="text-center">ФИО: {{object.first_name}} {{object.last_name}} </p>
                {% if object.is_active %}
                <a href="{% url 'users:change_activity' object.pk %}"
                   class="btn btn-sm btn-warning p-2">Деактивировать</a>
                {% else %}
                <a href="{% url 'users:change_activity' object.pk %}"
                   class="btn btn-sm btn-success">Активировать</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
