{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Удалить клиента {{ object.pk }}?</p>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                        <a href="{% url 'client_list' %}" class="btn btn-warning">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}